{% extends 'spam_detector_app/main.html' %}
{% block content %}

{% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
            <center><strong style="color: red;">{{ message }}</strong></center>
            </div>
        {% else %}
            <div class="alert alert-success">
                <center><strong style="color: green;">{{ message }}</strong></center>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <center><p>A Machine Learning and Natural Language Processing based web app developed using Django.</p>
        </div>
        <div class="col-md-2"></div>
    </div>    
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="" method="POST">
            <div class="form-group">
                <textarea  style="border: 1px solid black;" class="form-control" rows="10" name="message" placeholder="Enter the Message"></textarea>
            </div>
            <br>
            <center><input class="btn btn-info" type="submit" value="Predict"></center>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}