{% load static %}
<html>
    <head>
        <title>SMS Spam Detector</title>
        <meta name="author" content="ANOOP-PANDIRI">
        <meta name="description" content="A Machine Learning and NLP based web application for SMS Spam Detection.">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >  
    </head>
    <body>
        {%  include 'spam_detector_app/navbar.html' %}
	<br><br><br><br>
          <div class="container-fluid">
              {% block content %}
              {% endblock %}
          </div>    
    </body>
    <footer> 
        <center><p ></p></center>
    </footer>
</html>